.Container {
  display: inline-block;
  /*background-color: rgb(138, 147, 155);*/

  padding: 5px;
  margin: 0 40px;
  border-radius: 40px;

  display: grid;
  align-items: center;
  justify-items: center;
}

.Container > form {
  /*color: rgb(32, 34, 37);*/
  font-weight: 500;
  font-size: 15px;
}

.FormLikeStyle_TEMP {
  /*color: rgb(32, 34, 37);*/
  font-weight: 500;
  font-size: 15px;
}

/* 

.Container > *      - direct children
.Container *        - all descendants

*/
