@tailwind base;
@tailwind components;
@tailwind utilities;


/* declaring the css variables colors */
:root {

  --color-background: #121619;
  --color-text: #f3fbfe;
  --color-header-icon-hover: #50575F;
  --color-header-item-hover: #323c3e;

  --color-create-header: #2081e2;
  --color-create-header-item: #f3fbfe;
  --color-create-header-item-hover-bg: #5F97CE;

  --color-textField-text:  #f3fbfe;
  --color-textField-background:  #5F97CE;

  --color-loginButton-bg: #1868b7;
  --color-loginButton-bg-hover: #095095;

  /* 
    --color-button: #2081e2;
    --color-button-text: #f3fbfe;
  */
  /*--color-header: #121619; not used */
  /*--color-header-item: #121619; not used */
  /*--color-header-item-text: #f3fbfe; not used */
}

[data-theme='light'] {

  --color-background: #ffffff;
  --color-text: #121619;
  --color-header-icon-hover: #50575F;
  --color-header-item-hover: #f4f5f7;/* slightly grey */

  --color-create-header: #2081e2;
  --color-create-header-item: #121619;
  --color-create-header-item-hover-bg: #5F97CE;

  --color-textField-text:  #121619;
  --color-textField-background:  #5F97CE;

  --color-loginButton-bg: #1868b7;
  --color-loginButton-bg-hover: #2081e2;

  /*
    --color-button: #2081e2;
    --color-button-text: #121619; 
  */
  /*--color-header: #f3fbfe;  not used */
  /*--color-header-item: #f3fbfe;  not used */
  /*--color-header-item-text: #121619;  not used */
}



body {
  background-color: var(--color-background);
  color: var(--color-text);    /* var(--color-primary); */
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}


/*  create-header, structure:      body > div > div > nav  */
body > div > div > nav {
  background-color: var(--color-create-header);
  color: var(--color-create-header-item);
}

body > div > div > nav > div:hover {
  background-color: var(--color-create-header-item-hover-bg);
  /* opacity: 0.5; */
}



/*  header, structure:      body > div > nav  */
body > div > nav {
  background-color: var(--color-background);
  color: var(--color-text);
}

body > div > nav > div > div {
  border-radius: 4px;
  /* border-radius: 4px; */
}

/* text-based top nav items */
body > div > nav > div:nth-child(2) > div:hover:nth-child(1),
body > div > nav > div:nth-child(2) > div:hover:nth-child(2),
body > div > nav > div:nth-child(2) > div:hover:nth-child(3),
/* extra icons */
body > div > nav > div:nth-child(2) > div:hover:nth-child(4),
body > div > nav > div:nth-child(2) > div:hover:nth-child(5),
body > div > nav > div:nth-child(2) > div:hover:nth-child(6)
{
  background-color: var(--color-header-item-hover);/*  */
  /* opacity: 0.5; */ 
}

/* icon-based top nav items 
body > div > nav > div:nth-child(2) > div:hover:nth-child(4),
body > div > nav > div:nth-child(2) > div:hover:nth-child(5),
body > div > nav > div:nth-child(2) > div > *:hover:nth-child(6)
{
  color: var(--color-header-icon-hover);
}*/


/* input fields under /create pages */
main input[type="text"], input[type="number"] {
  background-color: var(--color-textField-background);
  color: var(--color-textField-text); 
  padding: 0px 4px;
}
main input[type="text"]::placeholder, input[type="number"]::placeholder{
  color: var(--color-text)
}



/* container */
main {
  /* background-color: #5F97CE;  */
}



/* SUBMIT button */
input[type="submit"] {
  background-color: #2081e2;
  /*color: #f3fbfe;*/
}


@media only screen and (min-width: 600px) {
  /* Login/Logout button */
  nav > div:last-child > div:last-child {
    background-color: var(--color-loginButton-bg);
    border-radius: 40px;
  }

  /* Login/Logout button */
  nav > div:last-child > div:last-child:hover {
    background-color: var(--color-loginButton-bg-hover);
  }
}

@media only screen and (max-width: 599px) {

  /* Login/Logout button */
  nav > div:last-child > div:nth-child(5) {
    background-color: var(--color-loginButton-bg);
    border-radius: 40px;
  }
  
  /* Login/Logout button */
  nav > div:last-child > div:nth-child(5):hover {
    background-color: var(--color-loginButton-bg-hover);
  }

  /* Menu button 
  nav > div:last-child > div:last-child {
    background-color: #6E747D;
    border-radius: 40px;
  }*/
  
  /* Menu button 
  nav > div:last-child > div:last-child:hover {
    background-color: #50575F;
  }*/
}


/* ---------------------------------------------  OLD STRUCTURE  --------------------------------------------- */
/* OLD STRUCTURE - Login/Logout button 
button[type="button"] > div {
 background-color: #1868b7;
 border-radius: 40px;
}*/

/* OLD STRUCTURE - Login/Logout button 
button[type="button"] > div:hover {
  background-color: #095095;
}*/


/* ---------------------------------------------  initial  --------------------------------------------- */

input {
  /*color: rgb(32, 34, 37);*/
}

select {
  color: rgb(32, 34, 37);
}

* {
  box-sizing: border-box;
  margin: 0px;
}


.main-color-super-dark {
  color: #095095;
}

.main-color-dark {
  color: #1868b7  
  /*
    in the dropdownmenu, file:  SwitchNetworkButton, for tailwind this is 'bg-blue-500'
  */
}

.main-color-mid {
  color: #2081e2
  /* option 2:   #3A7EBF    */
}

.main-color-light {
  color: #5F97CE
}

.white {
  color: #f3fbfe
}

.black {
  color: #121619
}

.grey-dark {
  color: #323c3e
}

.grey-mid {
  color: #50575F
}

.grey-light {
  color: #6E747D
}


/***/


/*

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(32, 34, 37);
}

a {
  color: inherit;
  text-decoration: none;
}
*/





/*   just wrote down the color theme   */


